<style>
</style>



<body>
<div class="album py-5 bg-light">
  <div class="container">
    <div class="row">
      <% @posts.each do |post| %>
        <div class="col-md-4">
          <div class="card mb-4 box-shadow">
            <% if post.image.present? %> <!-- アップロード画像がある場合に実行する -->
              <%= image_tag post.image.first.variant( background: "black",	resize_to_fit: [327, 184],gravity: "center", extent: "327x184" ).processed, class: "card-img-top" %>

            <% end %>
            <div class="card-body">
              <p class="card-text text-truncate" style="max-height: 60px;"><%= post.text %></p>
              <div class="d-flex justify-content-between align-items-center">
                <div class="btn-group">
                  <%= link_to 'View', "/forms/#{post.id}", class: 'btn btn-sm btn-outline-dark' %>
                  <button type="button" class="btn btn-sm btn-outline-dark"><%= "#{post.comments.count} コメント" %></button>
                  <%= render post,data: { turbo: false } %>
                </div>
                <small class="text-muted"><%= post.created_at %></small>
              </div>
            </div>
          </div>
        </div>
      <% end %>
    </div>
  </div>
</div>

<div class="modal fade" id="formModal" tabindex="-1" role="dialog" aria-labelledby="basicModal" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">×</span>
        </button>
      </div>
      <div class="set_center_outer">
        <h2 class="page_title">投稿を作成</h2>
      </div>
      <div class="modal-body">
        <%= render 'forms/new', post: @post%>
      </div>
    </div>
  </div>
</div>

<footer class="text-muted">
  <div class="container">
    <p>Album example is &copy; Bootstrap</p>
  </div>
</footer>

<!-- Bootstrap core JavaScript
================================================== -->
<!-- Placed at the end of the document so the pages load faster -->
<script src="https://code.jquery.com/jquery-3.3.1.slim.min.js"
        integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous">
</script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.3/umd/popper.min.js"
        integrity="sha384-ZMP7rVo3mIykV+2+9J3UJ46jBk0WLaUAdn689aCwoqbBJiSnjAK/l8WvCWPIPm49"
        crossorigin="anonymous">
</script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/js/bootstrap.min.js"
        integrity="sha384-ChfqqxuZUCnJSK3+MXmPNIyE6ZbWh2IMqE241rYiqJxyMiZ6OW/JmZQ5stwEULTy" crossorigin="anonymous">

</script>
<script>window.jQuery || document.write('<script src="../../assets/js/vendor/jquery-slim.min.js"><\/script>')</script>
<script src="../../assets/js/vendor/popper.min.js"></script>
<script src="../../dist/js/bootstrap.min.js"></script>
<script src="../../assets/js/vendor/holder.min.js"></script>

<style>
    .image-placeholder {
        width: 100%;
        height: 100%;
    }
</style>

</body>


