<!DOCTYPE html>
<html>
<head>
  <%= javascript_include_tag 'new_preview' %>
  <title>MCC</title>
  <meta name="viewport" content="width=device-width,initial-scale=1">
  <%= csrf_meta_tags %>
  <%= csp_meta_tag %>

<%# <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.15.4/css/all.css"> %>
  <script src="https://kit.fontawesome.com/578a2d6ec7.js" crossorigin="anonymous"></script>

  <%= stylesheet_link_tag "application", "data-turbo-track": "reload" %>
  <%= javascript_importmap_tags %>
  <style>

  </style>
</head>

<body>
<% if user_signed_in? %>

  <!--
    <div>
      <%= link_to '/home' do %><img src="/assets/logo.svg" alt="logo" id="logo">
      <% end %>
    </div>

    <div><%= link_to "トップ", '/home', class: "text-white" %></div>
    <div><%= link_to "投稿する", '/forms/new', class: "text-white", data: { turbo: false } %></div>
    <div><%= link_to "投稿一覧", '/forms', class: "text-white", data: { turbo: false } %></div>
    <div><%= link_to "トークルーム一覧", '/storylines', class: "text-white" %></div>
    <div><%= link_to "トークルームを作る", '/storylines/new', class: "text-white", data: { turbo: false } %></div>
    <div><%= link_to "マイページ", user_path(current_user.id), class: "text-white" %></div>
    <div><%= link_to "ユーザー", users_path, class: "text-white" %></div>
    <div><%= button_to "ログアウト", destroy_user_session_path, method: :delete, class: "text-white" %></div>
-->
  <nav class="navbar navbar-expand-lg navbar-dark bg-dark" data-bs-theme="dark">
    <div class="container">
      <a class="navbar-brand fw-bold" href="/home">MCC</a>
      <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <ul class="navbar-nav me-auto mb-2 mb-lg-0">
          <li class="nav-item">
            <!--<%= link_to "投稿する", '/forms/new', class: "text-white nav-link active", data: { turbo: false } %>-->
            <a class="nav-link active" data-toggle="modal" data-target="#formModal">投稿する</a>
          </li>
          <li class="nav-item">
            <a class="nav-link active" href="/forms" data-turbo="false">投稿一覧</a>
          </li>
          <li class="nav-item dropdown">
            <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-bs-toggle="dropdown" aria-expanded="false">
              トークルーム
            </a>
            <ul class="dropdown-menu" aria-labelledby="navbarDropdown">
              <li><a class="dropdown-item" href="/storylines">トークルーム一覧</a></li>
              <li>
                <hr class="dropdown-divider">
              </li>
              <li><a class="dropdown-item" href="/storylines/new">トークルームを作る</a></li>
            </ul>
          </li>
          <li class="nav-item dropdown">
            <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-bs-toggle="dropdown" aria-expanded="false">
              プロフィール
            </a>
            <ul class="dropdown-menu" aria-labelledby="navbarDropdown">
              <li><%= link_to "マイページ", user_path(current_user.id), class: "dropdown-item", data: { turbo: false } %></li>
              <li><%= link_to "ユーザー", users_path, class: "dropdown-item" %></li>
              <li>
                <hr class="dropdown-divider">
              </li>
              <li><%= button_to "ログアウト", destroy_user_session_path, method: :delete, class: "dropdown-item" %></li>
            </ul>
          </li>
        </ul>
        <form class="d-flex">
          <input class="form-control me-2" type="search" placeholder="Search" aria-label="Search">
          <button class="btn btn-outline-success" type="submit">Search</button>
        </form>
      </div>
    </div>
  </nav>

<% end %>
<%= yield %>
</body>


<!-- Modal -->

<!DOCTYPE html>
<html lang="ja">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Responsive Modal Form</title>
  <link href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" rel="stylesheet">
  <style>
      body {
          font-family: Arial, sans-serif;
          overflow-x: hidden;
      }

      .modal-open .modal {
          backdrop-filter: blur(5px);
      }

      .modal-dialog {
          width: auto;
          max-width: 800px; /* モーダルの最大幅を画面の90%に */
      }

      .modal-content {
          background-color: #333;
          color: #FFFFFF;
          border: none;
          overflow: hidden; /* オーバーフローを隠す */
      }

      .btn-primary {
          background-color: #444;
          border: none;
          color: #FFFFFF;
          margin-bottom: 15px;
          padding: 10px 20px;
      }

      .btn-primary:hover {
          background-color: #555;
      }

      .form-control {
          background-color: #555;
          border: 1px solid #666;
          color: #FFFFFF;
      }

      .form-control::placeholder {
          color: #ccc;
      }

      .modal-header, .modal-footer {
          border-bottom: 1px solid #444;
          border-top: 1px solid #444;
      }

      .modal-header {
          color: #FFFFFF;
          opacity: 1;
      }

      .form-group {
          width: auto;
      }

      .form-control:focus {
          background-color: #626262; /* クリック時の背景色 */
          color: #ffffff; /* クリック時のテキストカラー */
      }

      .close {
          color: #FFFFFF;
          opacity: 1;
      }
  </style>
</head>
<body>


<!-- Modal -->
<div class="modal fade" id="formModal" tabindex="-1" role="dialog" aria-labelledby="formModalLabel" aria-hidden="true">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="contactModalLabel">Post</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <!-- Form starts here -->
          <%= form_with model: @new_post, url: '/forms', local: true do |f| %>
            <div class="form-group">
              <label for="firstName">タイトル</label>
              <%= f.text_field :title, class: "form-control", placeholder: "Title" %>
            </div>
            <div class="form-group">
              <label for="lastName">説明</label>
              <%= f.text_area :text, rows: 10, class: "form-control", placeholder: "Explanation" %>
            </div>
            <label class="form-label my-3">画像</label>
            <br>
            <%= f.label :image %>
            <br>
            <%= f.file_field :image, id: "imageInput", class: "btn btn-secondary w-100", multiple: true %>
            <div class="preview" id="imagePreview">
            </div>
            <!-- Form ends here -->
            </div>
            <div class="modal-footer">
              <%= f.submit '投稿する', class: "btn btn-primary" %>
            </div>
          <% end %>
          </div>
  </div>
</div>

<script src="https://code.jquery.com/jquery-3.3.1.slim.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"></script>
</body>
</html>